services:
  nginx:
    image: nginx:1.25-alpine
    ports:
      - "${APP_PORT}:80"
    volumes:
      - ./app:/var/www/app
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - php
    networks:
      - app-net

  php:
    build:
      context: .
      dockerfile: php/Dockerfile
    volumes:
      - ./app:/var/www/app
      - ./php/php-fpm.conf:/usr/local/etc/php-fpm.d/zz-custom.con
      - ./php/opcache.ini:/usr/local/etc/php/conf.d/opcache.ini
    environment:
      APP_ENV: development
      APP_BASE_URL: ${APP_BASE_URL}
      DB_HOST: mysql
      DB_NAME: ${MYSQL_DATABASE}
      DB_USER: ${MYSQL_USER}
      DB_PASS: ${MYSQL_PASSWORD}
    networks:
      - app-net

  mysql:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    volumes:
      - mysql-data:/var/lib/mysql
    networks:
      - app-net

  redis:
    image: redis:7-alpine
    networks:
      - app-net

  phpmyadmin:
    image: phpmyadmin:latest
    ports:
      - "${PHPMYADMIN_PORT}:80"
    environment:
      PMA_HOST: mysql
    depends_on:
      - mysql
    networks:
      - app-net

volumes:
  mysql-data:

networks:
  app-net:
